body {
	margin: 30px 0 0 0;
	background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
	height: 1200px;
	user-select: none;
}

h4, p {
	line-height: 1em;
}

.container {
	max-width: 850px;
}
/* contains user interface  */
.navbar {
	background: rgba(0,0,0,0) !important;
}
	/*  form buttons */
	#search-btn, #trending-btn {
	}

/* scrollable area that contains image-area */
#results-area {
	margin: 30px 0 0 0;	
	padding: 30px;
	height: 600px; 
	overflow-y: scroll;
	box-shadow: 0px 0px 15px 5px rgba(0,0,0, .2) inset;

}