body {
	margin: 30px 0 0 0;
	background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
	min-height: 1300px;
	user-select: none;
}

p {
	line-height: 1em;
}

/*–––––––––––––––––––––––––*/
/*  Containers   */
/*–––––––––––––––––––––––––*/
.container {
}

/*–––––––––––––––––––––––––*/
/*  Jumbotron area (top)  */
/*–––––––––––––––––––––––––*/
.jumbotron {
	background: none;
	margin: 0 0 -30px 0;
}
	/*  input fields  */
	.form-group {
		margin: 50px 0 0 0;
	}
		.input-group {
			margin: 0 0 20px 0;
		}
		#search-date {
		  -webkit-appearance: none;
		  -webkit-border-radius: 0 4px 4px 0;
  		}

/*–––––––––––––––––––––––––*/
/*   buttons    */
/*–––––––––––––––––––––––––*/
#search-btn {
	  	-webkit-appearance: none;
		-webkit-border-radius: 0px;
		color: rgb(84,199,175);
		background:transparent;
		border-width:2px;
		border-style: solid;
		border-color: rgb(84,199,175);
		position:relative;
		margin:1em;
		display:inline-block;
		padding:0.5em 1em;
		transition:all 0.3s ease-in-out;
		text-align:center;
	}
	#search-btn:before, #search-btn:after {
		content:'';display:block;
		position:absolute;
		border-color: rgb(84,199,175);
		box-sizing:border-box;
		border-style:solid;
		width:1em;
		height:1em;
		transition:all 0.3s ease-in-out;
	}
		#search-btn:before {
			top:-6px;left:-6px;
			border-width:2px 0 0 2px;
			z-index:5;
		}
		#search-btn:after {
			bottom:-6px;
			right:-6px;border-width:0 2px 2px 0;
		}
	#search-btn:hover {
		color:#fff;
		background-color:rgb(84,199,175);
		border-color:rgb(84,199,175);
	}
		#search-btn:hover:before, #search-btn:hover:after {
			width:calc(100% + 12px);
			height:calc(100% + 12px);
			border-color:rgb(84,199,175);
		}

/*–––––––––––––––––––––––––*/
/*  calendars  */
/*–––––––––––––––––––––––––*/
.date-range-selected > .ui-state-active, .date-range-selected > .ui-state-default {
	margin: 5px;
   background: none;
   background-color: lightsteelblue;
}

#jrange input {
	width: 200px;
}

#jrange div {
	font-size: 12pt;
}


#datepicker1, #datepicker2 {
	padding: 10px;
	border-radius: 20px;
	background: rgba(255,255,255,.6);
}


/*–––––––––––––––––––––––––*/
/*  search results  */
/*–––––––––––––––––––––––––*/
.card-deck {
}
	.card {
		margin: 20px 0;
		min-width: 300px;
		max-width: 300px;
		background: rgba(255,255,255,.5);
		transition: .5s;
}
		.card:hover {
			transform: scale(1.05);
			transition: .5s;
		}

		.card img {
			margin: 1px 0 0 0;
			width: 99%;
			height: 144px;
		}

		.dollar {
			float: right !important;
			width: 30px !important;
			height: 30px !important;
		}

		.card-header {
			height: 3.4em;
			overflow-y: hidden;
		}
			.card-header h4 {
				line-height: 1.5em;
			}


/* scrollable area that contains image-area */
.event-area {
	box-shadow: 0px 0px 15px 1px rgba(0,0,0, .15) inset;

}





/*WHEEL*/
#wheel {
	width:150px;
	height:150px;
	border-radius:50%;
	position:relative;
	overflow:hidden;
	border:8px solid #fff;
	box-shadow:rgba(0,0,0,0.2) 0 0 10px,rgba(0,0,0,0.05) 0 3px 0;
	transform:rotate(0deg);
}

#inner-wheel {
	width:100%;
	height:100%;
	-webkit-transition:all 6s cubic-bezier(0,.99,.44,.99);
	-moz-transition:all 6 cubic-bezier(0,.99,.44,.99);
	-o-transition:all 6s cubic-bezier(0,.99,.44,.99);
	-ms-transition:all 6s cubic-bezier(0,.99,.44,.99);
	transition:all 6s cubic-bezier(0,.99,.44,.99);
}

#wheel div.sec {
	position:absolute;
	width:0;
	height:0;
	border-style:solid;
	border-width:190px 65px 0;
	border-color:#19c rgba(0,0,0,0);
	transform-origin:65px 190px;
	left:0px;
	top:-130px;
	opacity:1;
}

#wheel div.sec:nth-child(1) {
	transform:rotate(36deg);
	-webkit-transform:rotate(36deg);
	-moz-transform:rotate(36deg);
	-o-transform:rotate(36deg);
	-ms-transform:rotate(36deg);
	border-color: rgb(255,5,27); transparent;
}

#wheel div.sec:nth-child(2) {
	transform:rotate(72deg);
	-webkit-transform:rotate(72deg);
	-moz-transform:rotate(72deg);
	-o-transform:rotate(72deg);
	-ms-transform:rotate(72deg);
	border-color: rgb(255,118,43) transparent;
}

#wheel div.sec:nth-child(3) {
	transform:rotate(108deg);
	-webkit-transform:rotate(108deg);
	-moz-transform:rotate(108deg);
	-o-transform:rotate(108deg);
	-ms-transform:rotate(108deg);
	border-color: rgb(255,165,55) transparent;
}

#wheel div.sec:nth-child(4) {
	transform:rotate(144deg);
	-webkit-transform:rotate(144deg);
	-moz-transform:rotate(144deg);
	-o-transform:rotate(144deg);
	-ms-transform:rotate(144deg);
	border-color: rgb(255,209,67) transparent;
}

#wheel div.sec:nth-child(5) {
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	border-color: rgb(255,249,79) transparent;
}

#wheel div.sec:nth-child(6) {
	transform:rotate(216deg);
	-webkit-transform:rotate(216deg);
	-moz-transform:rotate(216deg);
	-o-transform:rotate(216deg);
	-ms-transform:rotate(216deg);
	border-color:rgb(155,248,79)  transparent;
}

#wheel div.sec:nth-child(7) {
	transform:rotate(252deg);
	-webkit-transform:rotate(252deg);
	-moz-transform:rotate(252deg);
	-o-transform:rotate(252deg);
	-ms-transform:rotate(252deg);
	border-color: rgb(0,166,79) transparent;
}

#wheel div.sec:nth-child(8) {
	transform:rotate(288deg);
	-webkit-transform:rotate(288deg);
	-moz-transform:rotate(288deg);
	-o-transform:rotate(288deg);
	-ms-transform:rotate(288deg);
	border-color: rgb(0,123,166) transparent;
}

#wheel div.sec:nth-child(9) {
	transform:rotate(324deg);
	-webkit-transform:rotate(324deg);
	-moz-transform:rotate(324deg);
	-o-transform:rotate(324deg);
	-ms-transform:rotate(324deg);
	border-color: rgb(0, 63,246) transparent;
}

#wheel div.sec:nth-child(10) {
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	border-color: rgb(127,53,208) transparent;
}

#center {
	width:40px;
	height:40px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-20px 0 0 -20px;
	border-radius:50%;
	box-shadow:rgba(0,0,0,0.1) 0 3px 0;
	z-index:1000;
	background:#fff;
	font-family:sans-serif;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}

#center:after {
	text-align:center;
	line-height:68px;
	color:#CCC;
	text-shadow:0 2px 0 #fff,0 -2px 0 rgba(0,0,0,0.3);
	position:relative;
	z-index:100000;
	width:68px;
	height:68px;
	display:block;
}

#inner-center {
	width:30px;
	height:30px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-15px 0 0 -15px;
	border-radius:50%;
	background:red;
	z-index:999;
	box-shadow:rgba(255,255,255,1) 0 -2px 0 inset,rgba(255,255,255,1) 0 2px 0 inset,rgba(0,0,0,0.4) 0 0 5px;
	background:#fff;
/* Old browsers */
	background:-moz-radial-gradient(center,ellipse cover,rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%);
/* FF3.6+ */
	background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(255,255,255,1)),color-stop(100%,rgba(234,234,234,1)));
/* Chrome,Safari4+ */
	background:-webkit-radial-gradient(center,ellipse cover,rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%);
/* Chrome10+,Safari5.1+ */
	background:-o-radial-gradient(center,ellipse cover,rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%);
/* Opera 12+ */
	background:-ms-radial-gradient(center,ellipse cover,rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%);
/* IE10+ */
	background:radial-gradient(ellipse at center,rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%);
/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#eaeaea',GradientType=1);
/* IE6-9 fallback on horizontal gradient */
}



.click {
	/* -webkit-animation: tick 0.2s ease-out infinite; Chrome, Safari, Opera */
	animation-name: tick;
	animation-duration: 0.2s; /* or: Xms */
	animation-iteration-count: 60;
	animation-timing-function: ease-out;
}

.leaflet-popup-content p {
	margin: 0px;
	text-align: center;
}

hr {
	margin: 5px;
}

#mapid {width: 500px; height: 500px};

#mapid, #checkboxes {
	float: left;
}


input[type="checkbox"]#checkboxes:checked + span {
      border-color: red;
    background-color:red;
}

@import "color-schemer";
@import "bourbon";

$color--green: #7ac142;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke: $color--green;
  fill: none;
  animation: stroke .6s $curve forwards;
}

.checkmark {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 3% 2% 0% 2%;
  box-shadow: inset 0px 0px 0px $color--green;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s $curve .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $color--green;
  }
}

.checkmark, .cuisine_name {
	float: left;
}

.cuisine_name {
	line-height: 4em;
}