body {
	background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
	min-width: 250px;
	min-height: 1300px;
	user-select: none;
	margin: 0 0 100px 0;
}

/*–––––––––––––––––––––––––*/
/*  Containers   */
/*–––––––––––––––––––––––––*/
.container {
	margin: 0 auto;
}

/*–––––––––––––––––––––––––*/
/*  Jumbotron area (top)  */
/*–––––––––––––––––––––––––*/
.jumbotron {
	background: none;
	margin: 0 0 -30px 0;
}
	#bold {
		font-family: 'Lato', sans-serif;
		font-size: 50pt;
		font-weight: 700;
		letter-spacing: -3pt;
	}
	#thin {
		font-family: 'Lato', sans-serif;
		font-size: 50pt;
		font-weight: 100;
		letter-spacing: -4pt;
		margin: 0 0 0 -10px;
	}
	.lead {
		font-size: 13pt;
	}
	/*  input fields  */
	.form-group {
		margin: 30px 0 0 0;
	}
		.input-group {
			margin: 0 0 10px 0;
		}
		#search-date {
		  -webkit-appearance: none;
		  -webkit-border-radius: 0 4px 4px 0;
  		}


/*–––––––––––––––––––––––––*/
/*   WHEEL - Search Btn    */
/*–––––––––––––––––––––––––*/
#wheel {
	margin: 0 0 35px 0;
	width:120px;
	height:120px;
	border-radius:50%;
	/*border-radius:20%;*/
	position:relative;
	overflow:hidden;
	border:4.5px solid #fff;
	box-shadow:rgba(0,0,0,0.2) 0 0 10px,rgba(0,0,0,0.05) 0 3px 0;
	transform:rotate(0deg);
/*	transition: .5s;*/
}
	#wheel:hover {
/*		transform: scale(1.2);
		transition: .5s;*/
	}

#inner-wheel {
	width:100%;
	height:100%;
	-webkit-transition:all 6s cubic-bezier(0,.99,.44,.99);
	-moz-transition:all 6 cubic-bezier(0,.99,.44,.99);
	-o-transition:all 6s cubic-bezier(0,.99,.44,.99);
	-ms-transition:all 6s cubic-bezier(0,.99,.44,.99);
	transition:all 6s cubic-bezier(0,.99,.44,.99);
}

#wheel div.sec {
	position:absolute;
	width:0;
	height:0;
	border-style:solid;
	border-width:190px 65px 0;
	border-color:#19c rgba(0,0,0,0);
	transform-origin:65px 190px;
	left:-10px;
	top:-134px;
	opacity:1;
}

	#wheel div.sec:nth-child(1) {
		transform:rotate(36deg);
		-webkit-transform:rotate(36deg);
		-moz-transform:rotate(36deg);
		-o-transform:rotate(36deg);
		-ms-transform:rotate(36deg);
		border-color: rgb(255,5,27); transparent;
	}

	#wheel div.sec:nth-child(2) {
		transform:rotate(72deg);
		-webkit-transform:rotate(72deg);
		-moz-transform:rotate(72deg);
		-o-transform:rotate(72deg);
		-ms-transform:rotate(72deg);
		border-color: rgb(255,118,43) transparent;
	}

	#wheel div.sec:nth-child(3) {
		transform:rotate(108deg);
		-webkit-transform:rotate(108deg);
		-moz-transform:rotate(108deg);
		-o-transform:rotate(108deg);
		-ms-transform:rotate(108deg);
		border-color: rgb(255,165,55) transparent;
	}

	#wheel div.sec:nth-child(4) {
		transform:rotate(144deg);
		-webkit-transform:rotate(144deg);
		-moz-transform:rotate(144deg);
		-o-transform:rotate(144deg);
		-ms-transform:rotate(144deg);
		border-color: rgb(255,209,67) transparent;
	}

	#wheel div.sec:nth-child(5) {
		transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
		-o-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		border-color: rgb(255,249,79) transparent;
	}

	#wheel div.sec:nth-child(6) {
		transform:rotate(216deg);
		-webkit-transform:rotate(216deg);
		-moz-transform:rotate(216deg);
		-o-transform:rotate(216deg);
		-ms-transform:rotate(216deg);
		border-color:rgb(155,248,79)  transparent;
	}

	#wheel div.sec:nth-child(7) {
		transform:rotate(252deg);
		-webkit-transform:rotate(252deg);
		-moz-transform:rotate(252deg);
		-o-transform:rotate(252deg);
		-ms-transform:rotate(252deg);
		border-color: rgb(0,166,79) transparent;
	}

	#wheel div.sec:nth-child(8) {
		transform:rotate(288deg);
		-webkit-transform:rotate(288deg);
		-moz-transform:rotate(288deg);
		-o-transform:rotate(288deg);
		-ms-transform:rotate(288deg);
		border-color: rgb(0,123,166) transparent;
	}

	#wheel div.sec:nth-child(9) {
		transform:rotate(324deg);
		-webkit-transform:rotate(324deg);
		-moz-transform:rotate(324deg);
		-o-transform:rotate(324deg);
		-ms-transform:rotate(324deg);
		border-color: rgb(0, 63,246) transparent;
	}

	#wheel div.sec:nth-child(10) {
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-o-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		border-color: rgb(127,53,208) transparent;
	}

#center {
	/*display: none;*/
	width:30px;
	height:30px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-15px 0 0 -15px;
	border-radius:50%;
	box-shadow:rgba(0,0,0,0.1) 0 3px 0;
	z-index:1000;
	background:#fff;
	font-family:sans-serif;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}

	#center:after {
		text-align:center;
		line-height:68px;
		color:#CCC;
		text-shadow:0 2px 0 #fff,0 -2px 0 rgba(0,0,0,0.3);
		position:relative;
		z-index:100000;
		width:68px;
		height:68px;
		display:block;
	}

#inner-center {
	width:20px;
	height:20px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-10px 0 0 -10px;
	border-radius:50%;
	background:red;
	z-index:999;
	box-shadow:rgba(255,255,255,1) 0 -2px 0 inset,rgba(255,255,255,1) 0 2px 0 inset,rgba(0,0,0,0.4) 0 0 5px;
	background:#fff;
/* Old browsers */
	background:-moz-radial-gradient(center,ellipse cover,rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%);
/* FF3.6+ */
	background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(255,255,255,1)),color-stop(100%,rgba(234,234,234,1)));
/* Chrome,Safari4+ */
	background:-webkit-radial-gradient(center,ellipse cover,rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%);
/* Chrome10+,Safari5.1+ */
	background:-o-radial-gradient(center,ellipse cover,rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%);
/* Opera 12+ */
	background:-ms-radial-gradient(center,ellipse cover,rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%);
/* IE10+ */
	background:radial-gradient(ellipse at center,rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%);
/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#eaeaea',GradientType=1);
/* IE6-9 fallback on horizontal gradient */
}

/*–––––––––––––––––––––––––*/
/*  calendars   (IF USED) */
/*–––––––––––––––––––––––––*/
.date-range-selected > .ui-state-active, .date-range-selected > .ui-state-default {
	margin: 5px;
   background: none;
   background-color: lightsteelblue;
}

#jrange input {
	width: 200px;
}

#jrange div {
	font-size: 12pt;
}

#datepicker1, #datepicker2 {
	padding: 10px;
	border-radius: 20px;
	background: rgba(255,255,255,.6);
}


/*–––––––––––––––––––––––––*/
/*    search results       */
/*–––––––––––––––––––––––––*/
#search-results {
	text-align: center;
}
.card-columns {
	width: 100%;
	padding: 0 20px;
}
	.card {
		text-align: left;
		background: rgba(255,255,255,.5);
		transition: .5s;
		margin: 0 0 60px 0 !important;
		width: 90% !important;
		-webkit-backface-visibility: hidden;
	}
		.card:hover {
			transform: scale(1.05);
			transition: .5s;
			-webkit-backface-visibility: hidden;
		}
		.dollar {
			position: absolute;
			right: 10px;
			top: 8px;
			width: 45px !important;
			height: 45px !important;
		}
		.card img {
			width: 100%;
			max-height: 133px;
		}
		.card-header {
			background: none;
			margin: 0 0 -10px 0;
		}
		.card-body {
			min-height: 40px;
		 	max-height: 160px;
			line-height: 1.2em;
			overflow-y: scroll;
			box-shadow: 0px 0px 15px 5px rgba(0,0,0, .2) inset;
		}
			.card-footer small {
				background: none;
				color: #4d5259;
				font-size: 12pt;
				line-height: 12pt;
			}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
	.card-columns {
		column-count: 1;
		width: 100%;
		padding: 0px;
	}
		.card {
			/*background: green;*/
			width: 80% !important;
			left: 10%;
			right: 10%;
		}
			.card:hover {
				transform: none;
				transition: none;
				-webkit-backface-visibility: hidden;
			}

		.card img {
			max-height: 226px;
		}

		.card-footer small {
			font-size: 13pt;
		}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
	.card-columns {
		column-count: 2;
	}
		.card-body {
			max-width: 300px !important;
		}
		.card-footer small {
			font-size: 13pt;
		}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
	.card-columns {
		column-count: 3;
	}
		.card-body {
			max-width: 300px !important;
		}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
	.card-columns {
		column-count: 3;
	}
		.card img {
			max-height: 150px;
		}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.card-columns {
		column-count: 4;
	}
		.card img {
			max-height: 200px;
		}
}


/*–––––––––––––––––––––––––*/
/*     Modal pop-up        */
/*–––––––––––––––––––––––––*/
.modal {
}

	.modal-content {
		padding: 0 0 40px 0;
	}

		.modal-header {
			border: none;
		}

			.modal-title {

			}

			.nav-pills {
			}
				.nav-item {
					margin: 0 0 0 20px;
				}
					.nav-item a {
						font-size: 14pt;
						padding: 5px 10px;
						margin: 10px 0 0 0;
					}

				#pills-event-tab{
				}

				#pills-restaurant-tab{
				}

				#pills-map-tab{
				}

		.modal-body {
			height: 380px;
			overflow-y: scroll;
		}
			
			.tab-content {
			}

				#pills-event {
				}

				#pills-restaurant {
				}

				#pills-map {
				}

				#event-title {
				}

				#event-location{
				}

				#event-weather {
					visibility: hidden;
					position: absolute;
					z-index: 999;
					top: 30px;
					right: 30px;
				}

				#event-description {
				}

/*––––––––––––––––––––––*/
/*      Page Buttons    */
/*–––––––––-––––––––––––*/
.btn-group {
	width: 100%;
	visibility: hidden;
}

#back-btn, #next-btn {
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 0 20px;
	padding: 8px 23px;
	border-radius: 50%;
	background-color: #bababa;
	color: black;
}

	#back-btn:hover, #next-btn:hover {
		color: black;
	}

	#back-btn:hover {
		background: #fff759;
	}

	#next-btn:hover {
		background-color: #7ee583;
	}

	
/*––––––––––––––––––––––*/
/*        MAP           */
/*–––––––––-––––––––––––*/
.leaflet-popup-content p {
	margin: 0px;
	text-align: center;
}

hr {
	margin: 5px;
}

#mapid {
	min-width: 250px;
	max-width: 450px;
	min-height: 350px;
	max-height: 550px;
}

input[type="checkbox"]#checkboxes:checked + span {
    border-color: red;
    background-color:red;
}



@import "color-schemer";
@import "bourbon";

$color--green: #7ac142;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 15;
  stroke-miterlimit: 10;
  fill: none;
  animation: stroke .6s $curve forwards;
}

.checkmark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  stroke-width: 10;
  stroke: #fff;
  stroke-miterlimit: 10;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s $curve .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $color--green;
  }
}

.checkbox-display {
	font-size: 14pt;
	border-radius: 10px;
	border: 1px;
	border-style: solid;
}

.checkbox {
	margin-right: 5px;
	margin-bottom: 5px;
}

.cuisine-name {
	margin-right: 5px;
}